<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Home</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
    </head>
    <body>
        <a href="/loginForm"> Sign in </a>
        <h1> Welcome </h1>
        <br>
        <input id="search" value="test" type="text" name="search" placeholder="search that what you need">
        <button id="btn" type="submit">Search </button>
        <div id="results">
        </div>
        {% block loginForm %} 
        {% endblock %}
        <script>
            window.onLoad = function(){
                testSearch.innerHTML = ''
            }
            var search = document.getElementById('search').value
            
            var btn = document.getElementById("btn");
            btn.addEventListener("click", () => {
                var testSearch = document.getElementById("results")
                testSearch.innerHTML = 'Data from input is: ' + search;
            })
            
        </script>
    </body>
</html>